# .gitignore

# dependencies
/node_modules
/dist

# dotenv environment variables file
.env

# log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
.DS_Store
.TSBuildInfo

# Testing
/coverage

# Production
/build

# Docker
Dockerfile*
docker-compose.yml
.dockerignore

# Heroku
Procfile

# TypeORM
ormconfig.json
/src/config/typeorm.config.ts

# NestJS
nest-cli.json

# Jest
/test/jest-e2e.json

# Auth
/src/auth/auth.module.ts
/src/auth/auth.service.ts
/src/auth/auth.controller.ts
/src/auth/jwt.strategy.ts
/src/auth/user.entity.ts
/src/auth/user.repository.ts
/src/auth/dto/auth-credentials.dto.ts
/src/auth/dto/jwt-payload.dto.ts